extends ../_layout

block variables
    - title = 'SERVER: 404';

block body
    body.bg-gray-900.text-white
        +header({
            sportMenu: true,
            headerSM: true
        })
        include ../../styleguide/components/layouts/_main
            block content
                .px-5.grow.flex.items-center
                    .text-center.grow.mb-5
                        .font-bold.leading-none(class="text-[10rem]") 404
                        .font-medium.text-xxl Oooops...
                        .text-xl Przykro nam, że nie znalazłeś tego, czego szukasz.

                .px-5
                    +input({
                        id: 'search',
                        type: 'search',
                        placeholder: 'Zadaj pytanie tutaj...'
                    }).mb-6.mt-auto

                    +button({
                        label: 'Przejdź na stronę główną',
                        href: 'javascript:void(0)',
                        size: 'h-14 text-lg px-10'
                    }).w-full